<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.muniu.cloud.lucifer.share.service.mapper.IndexInfoMapper">


    
    <insert id="batchInsertOrUpdate" parameterType="java.util.List">
        INSERT INTO index_info (
            index_code, display_name, publish_date, source, update_date, 
            index_hist_update, index_const_update, create_time, update_time, update_history, update_constituent
        ) VALUES 
        <foreach collection="list" item="item" separator=",">
            (
                #{item.indexCode}, #{item.displayName}, #{item.publishDate}, #{item.source}, #{item.updateDate}, 
                #{item.indexHistUpdate}, #{item.indexConstUpdate}, #{item.createTime}, #{item.updateTime}, 
                #{item.updateHistory}, #{item.updateConstituent}
            )
        </foreach>
        ON DUPLICATE KEY UPDATE 
            display_name = VALUES(display_name),
            publish_date = VALUES(publish_date),
            source = COALESCE(VALUES(source), source),
            update_date = VALUES(update_date),
            update_time = VALUES(update_time),
            update_history = COALESCE(VALUES(update_history), update_history),
            update_constituent = COALESCE(VALUES(update_constituent), update_constituent)
    </insert>
    
    <update id="updateIndexSettings">
        UPDATE index_info 
        <set>
            <if test="source != null">source = #{source},</if>
            <if test="updateHistory != null">update_history = #{updateHistory},</if>
            <if test="updateConstituent != null">update_constituent = #{updateConstituent},</if>
            update_time = #{updateTime}
        </set>
        WHERE index_code = #{indexCode}
    </update>

    <update id="updateHistUpdate">
        update index_info set index_hist_update = #{indexHistUpdate} where index_code = #{indexCode}
    </update>

    <update id="updateConstUpdate">
        update index_info set index_const_update = #{indexConstUpdate} where index_code = #{indexCode}
    </update>
</mapper> 