<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.muniu.cloud.lucifer.share.service.mapper.ShareRuleGroupMapper">


    <select id="queryPage" resultType="com.muniu.cloud.lucifer.share.service.entity.ShareRuleGroup">
        SELECT * FROM share_rule_group WHERE user_id=#{userId} and deleted=false
                                       <if test="keyword != null and keyword != ''">
                                         and name like CONCAT('%',#{keyword},'%')
                                       </if>
                                       ORDER BY ${order} ${orderType ? 'ASC' : 'DESC'} LIMIT #{size} OFFSET #{offset}

    </select>


    <select id="getRuleGroupByUser" resultType="com.muniu.cloud.lucifer.share.service.entity.ShareRuleGroup">
        SELECT * FROM share_rule_group WHERE user_id=#{userId} and deleted=false ORDER BY ${order} ${orderType ? 'ASC' : 'DESC'}
    </select>

<!--    <select id="queryCount" resultType="int">-->
<!--        SELECT COUNT(*) FROM share_rule_group WHERE user_id=#{userId} and deleted=false-->
<!--    </select>-->

    <insert id="insertRuleGroup" parameterType="com.muniu.cloud.lucifer.share.service.entity.ShareRuleGroup">
        INSERT INTO share_rule_group (user_id, name, description, create_time, update_time) VALUES (#{userId}, #{name}, #{description}, #{createTime}, #{updateTime})
    </insert>

    <update id="updateRuleGroup" parameterType="com.muniu.cloud.lucifer.share.service.entity.ShareRuleGroup">
        UPDATE share_rule_group SET name=#{name}, description=#{description}, update_time=#{updateTime} WHERE id=#{id}
    </update>

    <update id="deleteRuleGroup" parameterType="com.muniu.cloud.lucifer.share.service.entity.ShareRuleGroup">
        UPDATE share_rule_group SET deleted=true WHERE id=#{id}
    </update>

</mapper>
