<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.muniu.cloud.lucifer.share.service.mapper.ShareInfoMapper">


    <update id="updateShareHistoryUpdateDate">
        update share_info set history_update_date = #{shareHistoryUpdateDate} where id = #{shareCode}
    </update>

    <update id="updateShareHistoryUpdateDateBatch">
        update share_info set history_update_date = #{shareHistoryUpdateDate} where id in
        <foreach collection="shareCodes" item="shareCode" open="(" separator="," close=")">
            #{shareCode}
        </foreach>
    </update>


    <update id="updateShareDemisted">
        update share_info set update_time = #{updateTime}, share_status = 'D' where id not in
        <foreach collection="shareCodes" item="shareCode" open="(" separator="," close=")">
            #{shareCode}
        </foreach>
    </update>


    <update id="insertOrUpdateShareInfo">
        INSERT INTO share_info (id, create_time, exchange, list_date, section, share_name, share_status,
                                status_update_time, update_time, info_update_date)
        VALUES (#{shareInfo.id}, #{shareInfo.createTime}, #{shareInfo.exchange}, #{shareInfo.listDate},
                #{shareInfo.section}, #{shareInfo.shareName}, #{shareInfo.shareStatus}, #{shareInfo.statusUpdateTime},
                #{shareInfo.updateTime}, #{shareInfo.infoUpdateDate})
        ON DUPLICATE KEY UPDATE info_update_date = VALUES(info_update_date), share_name=VALUES(share_name),share_status

    </update>

</mapper>
