<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.muniu.cloud.lucifer.share.service.mapper.TdShareMarketMapper">

    <update id="createTable">
        CREATE TABLE IF NOT EXISTS ${tableName}
        (
            `id`                     varchar(20)  NOT NULL,
            `amplitude`              decimal(7, 3)                                         COMMENT '振幅',
            `change_amount`          decimal(15, 4)                                        COMMENT '涨跌额',
            `change_rate`            decimal(10, 4)                                         COMMENT '涨跌幅',
            `circulating_market_cap` decimal(19, 3)                                        COMMENT '流通市值',
            `create_time`            bigint                                                NOT NULL,
            `date`                   int                                                   NOT NULL COMMENT '日期',
            `dynamic_pe`             decimal(15, 4)                                        COMMENT '市盈率-动态',
            `time`                   int                                                   COMMENT '请求时间',
            `highest`                decimal(15, 4)                                        COMMENT '最高价',
            `latest_price`           decimal(15, 4)                                        COMMENT '最新价',
            `lowest`                 decimal(15, 4)                                        COMMENT '最低价',
            `opening_price`          decimal(15, 4)                                        COMMENT '今开',
            `pb_ratio`               decimal(15, 4)                                        COMMENT '市净率',
            `previous_close`         decimal(15, 4)                                        COMMENT '昨收',
            `share_code`             varchar(10)  NOT NULL COMMENT '股票代码',
            `share_name`             varchar(50)  COMMENT '股票名称',
            `speed`                  decimal(7, 3)                                         COMMENT '涨速',
            `total_market_cap`       decimal(19, 3)                                        COMMENT '总市值',
            `turnover`               decimal(15, 4)                                        COMMENT '成交额',
            `turnover_rate`          decimal(7, 3)                                         COMMENT '换手率',
            `volume`                 decimal(15, 4)                                        COMMENT '成交量',
            `volume_ratio`           decimal(7, 3)                                         COMMENT '量比',
            `limit_down`             decimal(15, 4)                                        COMMENT '跌停价',
            `limit_up`               decimal(15, 4)                                        COMMENT '涨停价',
            PRIMARY KEY (`id`) USING BTREE,
            INDEX `idx_share_code_time` (`share_code` ASC, `time` DESC) USING BTREE
        ) ENGINE = InnoDB
          DEFAULT CHARSET = utf8mb4 COLLATE = utf8mb4_bin COMMENT = '实时行情数据';
    </update>

    <insert id="insertBatch" parameterType="java.util.List">
        insert into td_share_market_${sharding}
        (id, amplitude, change_amount, change_rate, circulating_market_cap, create_time, date, dynamic_pe, time, highest, latest_price, lowest, opening_price, pb_ratio, previous_close,
        share_code, speed, total_market_cap, turnover, turnover_rate, volume, volume_ratio, limit_down, limit_up, share_name)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.id}, #{item.amplitude}, #{item.changeAmount}, #{item.changeRate}, #{item.circulatingMarketCap},
            #{item.createTime}, #{item.date}, #{item.dynamicPe}, #{item.time}, #{item.highest},
            #{item.latestPrice}, #{item.lowest}, #{item.openingPrice}, #{item.pbRatio}, #{item.previousClose},
            #{item.shareCode}, #{item.speed}, #{item.totalMarketCap}, #{item.turnover}, #{item.turnoverRate},
            #{item.volume}, #{item.volumeRatio}, #{item.limitDown}, #{item.limitUp}, #{item.shareName})
        </foreach>
        ON DUPLICATE KEY UPDATE
        amplitude              = VALUES(amplitude),
        change_amount          = VALUES(change_amount),
        change_rate            = VALUES(change_rate),
        circulating_market_cap = VALUES(circulating_market_cap),
        dynamic_pe             = VALUES(dynamic_pe),
        time                   = VALUES(time),
        highest                = VALUES(highest),
        latest_price           = VALUES(latest_price),
        lowest                 = VALUES(lowest),
        opening_price          = VALUES(opening_price),
        pb_ratio               = VALUES(pb_ratio),
        previous_close         = VALUES(previous_close),
        speed                  = VALUES(speed),
        total_market_cap       = VALUES(total_market_cap),
        turnover               = VALUES(turnover),
        turnover_rate          = VALUES(turnover_rate),
        volume                 = VALUES(volume),
        volume_ratio           = VALUES(volume_ratio),
        limit_down             = VALUES(limit_down),
        limit_up               = VALUES(limit_up),
        share_name             = VALUES(share_name)
    </insert>




</mapper>
