<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.muniu.cloud.lucifer.share.service.mapper.TradingDayMapper">

    <insert id="batchInsert" parameterType="java.util.List">
        INSERT INTO trading_day (day, create_time, update_time) 
        VALUES 
        <foreach collection="list" item="item" separator=",">
            (#{item.day}, #{item.createTime}, #{item.updateTime})
        </foreach>
        ON DUPLICATE KEY UPDATE 
        update_time = VALUES(update_time)
    </insert>
    
    <select id="getTradingDaysBetween" resultType="java.lang.Integer">
        SELECT day FROM trading_day 
        WHERE day BETWEEN #{startDay} AND #{endDay}
        ORDER BY day ASC
    </select>
    
    <select id="getAllTradingDays" resultType="java.lang.Integer">
        SELECT day FROM trading_day ORDER BY day ASC
    </select>
</mapper> 